<div class="row justify-content-md-center">
  <div class="pt-4 col-md-10">
    <h2>投稿一覧</h2>

    <% @lists.each do |list| %>
      <div class="mb-3 row">
        <div class="col col-md-4 text-end">
          <%= list.title %>:
        </div>
        <div class="col col-md-8">
          <%= list.body %>
        </div>
      </div>
    <% end %>

  </div>
</div>
